body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    background-color: #5AB2FF;
    border: 1px black solid;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: auto;
}

.click{
    background-color: #FFF9D0;
}
.container{
    width: 800px;
    height: 800px;
}